//主色调
$dominant-hue:#f73352;

$line-font-color:#ddd;
$login-input-signColor:#f46178;
$cutApart-line-color:rgba(255,255,255,0.7);
$button-line-color:#333;
$header-bootom-line-color:#d8d8d8;

//左边导航
$nav-bgColor:#202731;

